<div style="margin:0 auto;">
 <div class="container-fluid">
    <h2>Search Page</h2>
    <div ng-if="showAlert" class="alert alert-warning" role="alert"> Please enter your search</div>
    <div class="form-group">
      
      <input name="products" id="products" type="text" placeholder="Enter here" ng-model="selected" typeahead="product as product.value for product in products | filter:$viewValue | limitTo:8"  typeahead-show-hint="true" class="form-control">
    </div>

    <button class="btn btn-success" ng-click="goToSearchResult()">Submit</button>
  </div>
</div>