
<p><label>Username:</label><input type="text" name="username" ng-model="username"></p>
<p><label>Password:</label><input type="password" name="password" ng-model="password"></p>
<button ng-click="login()">Login</button>
<p ng-if="showError">Invalid Credentials</p>
