<div class="container-fluid">
	<div class="row">
		<div class="panel panel-default">
		  <div class="panel-heading"><label>Product Name :</label>{{selectedProduct.value}}</div>
		  <div class="panel-body">
		  <label>Product Description  :</label> <br>
		    {{selectedProduct.desc}}
		</div>
	</div>
</div>
<button class="btn btn-success" ng-click="">Add to cart</button>
<button class="btn btn-success" ng-click="goToCheckoutPage()">Buy Now</button>
</div>